# Configuração do Servidor
PORT=3333

# Banco de Dados MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=sua_senha_aqui
DB_NAME=charme_active

# Segurança (JWT)
# Gere uma string aleatória longa para produção
JWT_SECRET=sua_chave_secreta_aqui
